body{
  padding:0;
  margin: 0 auto;
}

.navbar-default{
  background-color:$fondo-nav;
  color:white;
  text-align:center;
}

.navbar-nav {
   width: 100%;
   text-align: center;
    li {
     float: none;
     display: inline-block;
     color:white;
   }
 }

.logo{
  width:77px;
  border: 6px solid white;
  margin-left: 341%;
}

.seccion1{
  background-color:$fondo_fondoseccionuno;
  color:white;
  padding:50px;
  margin-top:-21px;
}
#circle {
  width: 232px;
    height: 232px;
    background: white;
    margin-left: 42%;
    border-radius: 50%;
}

.circle--txt{
    color: $fondo_fondoseccionuno;
    font-size: 32px;
    font-weight: 800;
    margin-left: 33%;
    position: relative;
    top: 95px;
}

.user--txt__verde{
    color:$verde;
    font-weight: 100;
    font-size: 38px;
}

.user--txt__blanco{
    color:white;
    width: 71%;
    font-weight: 300;
    font-size: 15px;
}

.user--btn__verde{
  background-color:$verde;
    color: white;
    width: 35%;
    height: 59px;
    border-radius: 42px;
    margin-top: 23px;
    .fa-paper-plane{
      position: relative;
      left: -31%;
      top: 10px;
      font-size: 21px;
    }
    p{
      position: relative;
      top: -15px;
      left: 9%;
      font-size: 18px;
      font-weight: 400;
    }
}

.redes-sociales{
  margin-top: 41px;
}
.fa-facebook-official{
  color:$facebook;
  padding: 10px;
}

.fa-twitter-square{
  color:$twitter;
  padding: 10px;
}

.fa-google-plus-square{
  color:$google;
  padding: 10px;
}

.fa-pinterest-square{
  color:$pinterest;
  padding: 10px;
}

.fa-dribbble{
  color:$dribbble;
  padding: 10px;
}

.proyectos{
  background-color:$verde;
}

.proyectos--txt__verde{
  color: white;
  margin-top: 6%;
  margin-bottom: 5%;
}

.proyectos--img{
    width: 63%;
    margin-left: 21%;
}